<div class="content" id="about-me-content" #container>
    <div id="banner-wrapper">
        <div id="banner">
            <div class="content-wrapper">
                <div class="banner-components" id="image-container">
                    <img src="/myphoto.png" id="my-photo">
                </div>
                <div class="banner-components" id="text-container">
                    <p id="name">Rap Regidor<p>
                    <p id="description">Currently a Junior in Stony Brook University majoring in Computer Science</p>
                    <button id="down" (click)="scrollDown()">More about me</button>
                </div>
            </div>
        </div>
    </div>

    <div id="about-me-container" #aboutMeContainer>
        <div class="content-wrapper">
            <div id="detailed-description">
                <p class="title">Welcome!</p>
                <p class="story">Hi, as you may have already read, I'm Rap Regidor. I tried my best to "simulate" a computer desktop, trying to mix both my creativity and
                    my technical skills. Though it is still a working progress, I hope you enjoy exploring it! Here, you'll be able to view my 
                    resume, academic projects, personal hobbies, and ways to contact me.
                </p>
                <p class="title">About Me.</p>
                <p class="story">My journey to Computer Science started in high school when I had a mandatory programming class. In this class, I didn’t write with an actual programming language yet; instead, I played with blocks. All I had to do was build upon those blocks by attaching them to each other to create a program. It was like legos to me-- fun and creative. I had the freedom to make whatever I wanted, and that’s what I love about programming.</p>
                <p class="story">I then took more classes related to programming. My passion for coding really took off when I was given yet another chance of freedom to make whatever I wanted for my final project. I built my own game, and I was really proud of myself in the end. Throughout that process, I was learning more than I needed, improving my project beyond what was taught in the curriculum, and was genuinely satisfied seeing the result. This very experience helped me decide to pursue Computer Science in college.</p>
                <p class="story">Now, I continue to explore new areas of coding, whether it's learning frontend, backend, cybersecurity or anything else that piques my interest. I will continue my journey to grow and improve my skills even further.</p>
            </div>
            <div id="secondAbtMeImgContainer">
                <img src="secondAbtMe.jpg" id="secondAbtMeImg">
            </div>
        </div>
    </div>
    
    <div id="experience-container">
        <button id="resume-link" (click)="$event.stopPropagation(); openFile('resume'); changeCurrentFile('resume')"><svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-file-check"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 2l.117 .007a1 1 0 0 1 .876 .876l.007 .117v4l.005 .15a2 2 0 0 0 1.838 1.844l.157 .006h4l.117 .007a1 1 0 0 1 .876 .876l.007 .117v9a3 3 0 0 1 -2.824 2.995l-.176 .005h-10a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-14a3 3 0 0 1 2.824 -2.995l.176 -.005zm3.707 10.293a1 1 0 0 0 -1.414 0l-3.293 3.292l-1.293 -1.292a1 1 0 1 0 -1.414 1.414l2 2a1 1 0 0 0 1.414 0l4 -4a1 1 0 0 0 0 -1.414m-.707 -9.294l4 4.001h-4z" /></svg><span>View Full Resume</span></button>
        <div id="list">
            <p class="resume">Education</p>

            <div class="resume-container" id="stony-container">
                <a href="https://stonybrook.edu/" target="_blank" class="reference">
                    <img src="/stony.jpg" class="experience-images">
                    <ul>
                        <li class="experience-title"><strong>Stony Brook University</strong>, Stony Brook, NY 
                            <svg xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round">
                                <path d="M7 17L17 7" />
                                <path d="M7 7h10v10" />
                            </svg>
                       </li>
                        <li class="experience-title"><strong>Computer Science</strong></li>
                        <li class="experience-title"><strong>GPA: 3.6</strong></li>
                    </ul>
                </a>
            </div>
            
            <p class="resume">Experience</p>
            <div class="resume-container" id="pa-container">
                <a href="https://projectalpaca.org/" target="_blank" class="reference">
                    <img src="/pa.png" class="experience-images">
                    <ul>
                        <li class="experience-title"><strong>Project Alpaca</strong>, <strong>Alpaca (Mentee)</strong>, Manhattan, NY
                            <svg xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round">
                                <path d="M7 17L17 7" />
                                <path d="M7 7h10v10" />
                            </svg>
                        </li>
                        <li class="experience-details">Through this program, I received career guidance and one-on-one mentorship, along with lessons from guests speakers from the tech industry. I also explored mobile app development by developing an app aimed at addressing the influx of pets in shelters.</li>
                        
                    </ul>
                </a>
            </div>
            <div class="resume-container">
                <a href="https://www.theknowledgehouse.org/" target="_blank" class="reference">
                    <img src="/tkh.png" class="experience-images">
                    <ul>
                        <li class="experience-title"><strong>The Knowledge House</strong>, <strong>KKCF Coding Fellow</strong>, Bronx, NY
                            <svg xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round">
                                <path d="M7 17L17 7" />
                                <path d="M7 7h10v10" />
                            </svg>
                        </li>
                        <li class="experience-details">I was introduced to web development through this fellowship, where I learned about the fundamentals of about UX/UI design, and branding. We explored logo creation, layout principles, color theory, etc. These lessons were applied through a final hands-on projects, bringing our own designs to life.</li>

                    </ul>
                </a>
            </div>
        </div>
    </div>
</div>
