<div class="container">
    <div id="files-container">
        <div id="blocks-container">
            <div id="files-block" >
                <figure (click)="openFile('aboutMe'); changeCurrentFile('aboutMe')" class="files">
                    <img [src]="changeDisplay('aboutMe')" alt="About Me File">
                    <figcaption>About Me</figcaption>
                </figure>
                <figure (click)="openFile('resume'); changeCurrentFile('resume')" class="files">
                    <img [src]="changeDisplay('resume')" alt="Resume File">
                    <figcaption>Resume</figcaption>
                </figure>
                <figure (click)="openFile('projects'); changeCurrentFile('projects')" class="files">
                    <img [src]="changeDisplay('projects')" alt="Projects File">
                    <figcaption>Projects</figcaption>
                </figure>
                <figure (click)="openFile('hobbies'); changeCurrentFile('hobbies')" class="files">
                    <img [src]="changeDisplay('hobbies')" alt="Hobbies File">
                    <figcaption>Hobbies</figcaption>
                </figure>
                <figure (click)="openFile('contacts'); changeCurrentFile('contacts')" class="files">
                    <img [src]="changeDisplay('contacts')" alt="About Me File">
                    <figcaption>Contacts</figcaption>
                </figure>
            </div>
            <div class="block" id="spotify-block" (click)="openFile('spotify'); changeCurrentFile('spotify')">
                <div id="spotify-container">
                    <!-- Login first! -->
                    <img src="spotify.png" alt="Spotify Image" id="spotify-image">
                    <div id="spotify-text">
                        <h1>SPOTIFY
                            <div id="span-text"><span>Sign in with Spotify<br />Search, Click, and Play.<br />Finally, vibe with the music!</span></div>
                        </h1>
                    </div>
                </div>
            </div>
            <div id="squares">
                <div class="square-block">
                    <h1>PAINT</h1>
                </div>
                <div class="square-block">
                    <h1>SWEEPER</h1>
                </div>
            </div>
            <div class="block">
                <h1>IDK YET</h1>
            </div>
        </div>
    </div>
    <div id="power-column">
        <img src="/cat.png" id="logo">
         <p id="name">Rap Regidor</p>
        <button id="power-button" (click)="toggleOptions()">
            <svg id="power-icon" xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-power"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 6a7.75 7.75 0 1 0 10 0" /><path d="M12 4l0 8" /></svg>
        </button>
        <div class="options-container" *ngIf="isOptionsOpen" @openClose>
            <button id="close" (click)="closeWindow()">Close Website</button>
        </div>
    </div>
</div>
