<div class="taskbar">
    <button class="windows-button"><font face=Wingdings id="windows-icon" (click)="toggleMenu()">&#xff;</font></button>
    <div class="search-container">
        <i class="fa fa-search" aria-hidden="true" id="icon" (click)="searchBar(searchInput)" ></i>
        <input type="text" placeholder="Type here to search" class="search-bar" #searchInput (click)="searchBar(searchInput)"/>
    </div>
    <div class="menu-container" *ngIf="isMenuOpen" @openClose>
        <app-start-menu></app-start-menu>
    </div>
    <div id="time">
        <p>{{currentDate | date:'h:mm a'}}</p>
        <p>{{currentDate | date:'M/d/yyyy'}}</p>
    </div>
    <div id="weather">
        <!-- ADD GEOLOCATION API -> work for weather and current date/time -> default is new york -->
        <!-- ADD WEATHER API -> icon (based on status), degree, and status (cloudy, sunny, etc.)-->
    </div>
</div>

