.taskbar{
    height: 50px;
    width: 100%;
    background: linear-gradient(to bottom, #3a4e59, #1A252F);
    border-top: 2px solid #5C6770;
    
    display:flex;
    flex-direction: row;
    user-select: none;
}
.windows-button{
    text-align: center;
    background-color: transparent;
}
.windows-button:hover{
    color:rgb(65, 65, 245);
}
#windows-icon{
    margin:0px;
    padding:0px;
    font-size: 40px;
}
.search-container{
    display: flex;
    align-items: stretch;
    padding:0px;
    margin:0px;
    height:100%;
    width:300px;
    position:relative;
}
.search-bar{
    padding:5px 40px;
    margin:0px;
    width:100%;
    font-family: 'MedievalSharp', cursive;
    font-weight:bold;
    font-size: 16px;
}
#icon{
    position:absolute;
    left:13px;
    top: 13px;
    font-size:20px
}
.menu-container{
    position:absolute;
    width:400px;
    height:60%;
    min-height:200px;
    background-color: rgba(9, 57, 67, 0.888);
    bottom: 53px;
    box-shadow: 0px 1px 5px black;
    backdrop-filter: blur(10px);
    z-index: 10;
}

#time{
    display: flex;
    flex-direction: column;
    height:100%;
    justify-content: space-evenly;
    font-size:12px;
    color:white;
    font-family: 'MedievalSharp', cursive;
    align-items: flex-end;
    margin-left: auto;
    padding-right: 10px; 
    cursor: default;
}
#time p{
    padding:0px;
    margin:0px;
}

#weather-icon{
    font-size:24px;
}

#weather-properties{
    display: flex;
    flex-direction: column;
    height:100%;
    justify-content: space-evenly;
    font-size:12px;
    color:white;
    font-family: 'MedievalSharp', cursive;
    align-items: flex-start;
    padding-right: 5px; 
    cursor: default;
}

#weather-properties p{
    padding:0px;
    padding-left: 10px;
    margin-top:0px;
    margin-bottom:0px;
    overflow: hidden;
}

#weather-forecast{
    display:flex;
    flex-direction: row;
    height:100%;
    width:100%;
    justify-content: center;
    align-items: center;
}

#weather{
    display: flex;
    align-items: center;
    width:150px;
}

.taskbar-opened-files{
    height:50px;
    flex-grow: 1;
    margin-left: 5px;
    margin-right: 10px;
}

.file-containers{
    height:100%;
    width:100%;
    display:flex;
    flex-direction: row;
    width:100%;
}

.file-icons{
    height:50px;
    margin-top: -5px;
}

.file-buttons{
    height:100%;
    background-color:transparent;
    border:none;
    align-items: center;
    justify-content: center;
    padding:0px;
    margin-right:2px;
    position: relative;
}

.file-buttons:hover{
    background-color: rgba(200, 199, 199, 0.259);
    
}

.active-file{
    background-color: rgba(200, 199, 199, 0.389);
}

.active-file:hover{
    background-color: rgba(200, 199, 199, 0.522);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-preview {
    background-color: rgba(200, 199, 199, 0.133);
}

.file-containers.cdk-drop-list-dragging .file-buttons:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.file-containers.cdk-drop-list-dragging :not(.active-file):hover{
    background-color:transparent !important;
}

.file-containers.cdk-drop-list-dragging .active-file:hover {
    background-color: rgba(200, 199, 199, 0.389) !important;
}

#colorBlock {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    z-index: 2;
    background-color: rgba(36, 253, 253, 0.782);
    transition: width 0.3s ease;
    width: 80%;
}
.color-full {
    width: 100% !important;
}
.file-buttons:hover #colorBlock {
    width: 100%;
}