<div class="content" [ngClass]="{'dark-background': isDarkMode$ | async}" id="hobbies-content">
    <div class="nav-bar" [ngClass]="{'dark-background': isDarkMode$ | async}">
        <button class="project-button" id="first" (click)="changeCurrentTab('hobbyOne')">01 Swimming</button>
        <button class="project-button" id="second" (click)="changeCurrentTab('hobbyTwo')">02 Drawing</button>
        <button class="project-button" id="third" (click)="changeCurrentTab('hobbyThree')">03 Hiking & Camping</button>
    </div>
    <div id="content-container" >
        <div id="hobby-one" *ngIf="(currentHobbyTab$ | async) === 'hobbyOne'">
            <div class="outer-slideshow">
                <button class="slideshow-button slideshow-button-left" (click)="prevSwimImage()"><i class="fas fa-chevron-left"></i></button>
                <div class="slideshow-container">
                    <div class="slideshow-inner" [style.transform]="'translateX(-' + currentSwimIndex * 100 + '%)'">
                      <img *ngFor="let img of swimImages" [src]="img" class="images">
                    </div>
                  </div>
                <button class="slideshow-button slideshow-button-right" (click)="nextSwimImage()"><i class="fas fa-chevron-right"></i></button>
            </div>
        
            <div class="description-container">
                <p class="name">Swimming</p>
                <p class="description">I was once a competitive swimmer.  I started when I was 9 years old, following the footsteps of my sisters; It was a decision my parents made and looking back, I truly appreciate what they did for me. It was this sport that taught me discipline and pushed me to challenge myself consistently. This is where I developed my competitive mindset, which is now influencing how I approach programming. Beyond that, it is also a sport that allowed me to meet some of my life-long friends. I’m deeply grateful for what this sport has given me.</p>
            </div>
        </div>
        
        <div id="hobby-two" *ngIf="(currentHobbyTab$ | async) === 'hobbyTwo'">
            <div class="outer-slideshow">
                <button class="slideshow-button slideshow-button-left" (click)="prevDrawingImage()"><i class="fas fa-chevron-left"></i></button>
                
                <div class="slideshow-container">
                    <div class="slideshow-inner" [style.transform]="'translateX(-' + currentDrawingIndex * 100 + '%)'">
                        <img *ngFor="let img of drawingImages; let i = index" [src]="img" class="images" [ngClass]="{'image4': i === 3}">
                    </div>
                </div>
                <button class="slideshow-button slideshow-button-right" (click)="nextDrawingImage()"><i class="fas fa-chevron-right"></i></button>
            </div>
            <div class="description-container">
                <p class="name">Drawing</p>
                <p class="description">I have always loved drawing.  It is also one of the few ways I have found to express my creativity, even though I do not consider myself an avid artist. It stemmed from my childhood of watching anime. It sparked my imagination early on, inspiring me to put something to life just like programming. This connection is what drew me to programming as both give me the freedom to create something meaningful from scratch.</p>
                <p class="description">PS. I drew everything here in Krita and Pixilart except for some displays such as the weather, magnifying glass, and windows background and icon! Also, click the toggle on the top right corner of the screen if you haven't done so yet!</p>
            </div>
        </div>
        
        <div id="hobby-three" *ngIf="(currentHobbyTab$ | async) === 'hobbyThree'">
            <div class="outer-slideshow">
                <button class="slideshow-button slideshow-button-left" (click)="prevHCImage()"><i class="fas fa-chevron-left"></i></button>
                <div class="slideshow-container">
                    <div class="slideshow-inner" [style.transform]="'translateX(-' + currentHCIndex * 100 + '%)'">
                        <img *ngFor="let img of hikingCampingImages" [src]="img" class="images">
                
                    </div>
                </div>
                <button class="slideshow-button slideshow-button-right" (click)="nextHCImage()"><i class="fas fa-chevron-right"></i></button>
            </div>
            <div class="description-container">
                <p class="name">Hiking & Camping</p>
                <p class="description">Hiking and camping is a family activity we do every so often. It is where I am able to enjoy nature and spend meaningful time bonding with my family and friends. Through this activity, I learned how to appreciate the world around me and how calming it is to be one with nature. This activity also helped my family form tight-knit friendships here in the US. To this day and for years to come, it is something we will always continue to do together.</p>
            </div>
        </div>
    </div>
</div>
