<div class="container" [ngClass]="{'dark-background': isDarkMode$ | async}">
    <div class="icon-bar">
        <figure (click)="openFile('aboutMe'); changeCurrentFile('aboutMe')">
            <img [src]="changeDisplay('aboutMe')" alt="About Me File" class="files">
            <figcaption>About Me</figcaption>
        </figure>
        <figure (click)="openFile('resume'); changeCurrentFile('resume')">
            <img [src]="changeDisplay('resume')" alt="Resume File" class="files">
            <figcaption>Resume</figcaption>
        </figure>
        <figure (click)="openFile('projects'); changeCurrentFile('projects')">
            <img [src]="changeDisplay('projects')" alt="Projects File" class="files">
            <figcaption>Projects</figcaption>
        </figure>
        <figure (click)="openFile('hobbies'); changeCurrentFile('hobbies')">
            <img [src]="changeDisplay('hobbies')" alt="Hobbies File" class="files">
            <figcaption>Hobbies</figcaption>
        </figure>
        <figure (click)="openFile('contacts'); changeCurrentFile('contacts')">
            <img [src]="changeDisplay('contacts')" alt="Contacts File" class="files">
            <figcaption>Contacts</figcaption>
        </figure>
    </div>

    <div id="switch">
        <input type="checkbox" id="check" class="toggle" (change)="toggle($event)">
    </div>

    <div cdkDrag cdkDragBoundary=".container" [ngClass]="{'file':true, 'full-screen': maximizeAbtMe}" id="about-me-file" *ngIf="isAboutMeOpen$ | async" (mousedown)="changeCurrentFile('aboutMe')" [ngStyle]="{'z-index': (currentStack$ | async)?.indexOf('aboutMe') ?? 1}">
        <div cdkDragHandle class="top-bar" [ngClass]="{'dark-bar': isDarkMode$ | async}">
            <p class="title">About Me</p>
            <button class="minimize-file" (click)="minimizeTab('aboutMe')"><i class="fa-solid fa-minus"></i></button>
            <button class="resize-file" (click)="resizeFile('aboutMe')"><i [ngClass]="{'fa-solid': true, 'fa-window-maximize': !maximizeAbtMe, 'fa-window-restore': maximizeAbtMe}"></i></button>
            <button class="close-file" (click)="closeFile('aboutMe')"><i class="fa-solid fa-x"></i></button>
        </div>
        <div id="about-me-container">
            <app-about-me-window></app-about-me-window>
        </div>
    </div>

    <div cdkDrag cdkDragBoundary=".container" [ngClass]="{'file':true, 'full-screen': maximizeProjects}" id="projects-file" *ngIf="isProjectsOpen$ | async" (mousedown)="changeCurrentFile('projects')" [ngStyle]="{'z-index': (currentStack$ | async)?.indexOf('projects') ?? 1}">
        <div cdkDragHandle class="top-bar" [ngClass]="{'dark-bar': isDarkMode$ | async}">
            <p class="title">Projects</p>
            <button class="minimize-file" (click)="minimizeTab('projects')"><i class="fa-solid fa-minus"></i></button>
            <button class="resize-file" (click)="resizeFile('projects')"><i [ngClass]="{'fa-solid': true, 'fa-window-maximize': !maximizeProjects, 'fa-window-restore': maximizeProjects}"></i></button>
            <button class="close-file" (click)="closeFile('projects')"><i class="fa-solid fa-x"></i></button>
        </div>
        <div id="projects-container">
            <app-projects-window></app-projects-window>
        </div>
    </div>

    <div cdkDrag cdkDragBoundary=".container" [ngClass]="{'file':true, 'full-screen': maximizeContacts}" id="contacts-file" *ngIf="isContactsOpen$ | async" (mousedown)="changeCurrentFile('contacts')" [ngStyle]="{'z-index': (currentStack$ | async)?.indexOf('contacts') ?? 1}">
        <div cdkDragHandle class="top-bar" [ngClass]="{'dark-bar': isDarkMode$ | async}">
            <p class="title">Contacts</p>
            <button class="minimize-file" (click)="minimizeTab('contacts')"><i class="fa-solid fa-minus"></i></button>
            <button class="resize-file" (click)="resizeFile('contacts')"><i [ngClass]="{'fa-solid': true, 'fa-window-maximize': !maximizeContacts, 'fa-window-restore': maximizeContacts}"></i></button>
            <button class="close-file" (click)="closeFile('contacts')"><i class="fa-solid fa-x"></i></button>
        </div>
        <div id="contacts-container">
            <app-contacts-window></app-contacts-window>
        </div>
    </div>

    <div cdkDrag cdkDragBoundary=".container" [ngClass]="{'file':true, 'full-screen': maximizeResume}" id="resume-file" *ngIf="isResumeOpen$ | async" (mousedown)="changeCurrentFile('resume')" [ngStyle]="{'z-index': (currentStack$ | async)?.indexOf('resume') ?? 1}">
        <div cdkDragHandle class="top-bar" [ngClass]="{'dark-bar': isDarkMode$ | async}">
            <p class="title">Resume</p>
            <button class="minimize-file" (click)="minimizeTab('resume')"><i class="fa-solid fa-minus"></i></button>
            <button class="resize-file" (click)="resizeFile('resume')"><i [ngClass]="{'fa-solid': true, 'fa-window-maximize': !maximizeResume, 'fa-window-restore': maximizeResume}"></i></button>
            <button class="close-file" (click)="closeFile('resume')"><i class="fa-solid fa-x"></i></button>
        </div>
        <div id="resume-container">
            <app-resume-window></app-resume-window>
        </div>
    </div>

    <div cdkDrag cdkDragBoundary=".container" [ngClass]="{'file':true, 'full-screen': maximizeHobbies}" id="hobbies-file" *ngIf="isHobbiesOpen$ | async" (mousedown)="changeCurrentFile('hobbies')" [ngStyle]="{'z-index': (currentStack$ | async)?.indexOf('hobbies') ?? 1}">
        <div cdkDragHandle class="top-bar" [ngClass]="{'dark-bar': isDarkMode$ | async}">
            <p class="title">Hobbies</p>
            <button class="minimize-file" (click)="minimizeTab('hobbies')"><i class="fa-solid fa-minus"></i></button>
            <button class="resize-file" (click)="resizeFile('hobbies')"><i [ngClass]="{'fa-solid': true, 'fa-window-maximize': !maximizeHobbies, 'fa-window-restore': maximizeHobbies}"></i></button>
            <button class="close-file" (click)="closeFile('hobbies')"><i class="fa-solid fa-x"></i></button>
        </div>
        <div id="hobbies-container">
            <app-hobbies-window></app-hobbies-window>
        </div>
    </div>
</div> 
