<div class="container" [ngClass]="{'dark-background': isDarkMode$ | async}">
    <div class="icon-bar">
        <figure (click)="openFile('aboutMe'); changeCurrentFile('aboutMe')">
            <img [src]="changeDisplay('aboutMe')" alt="About Me File" class="files">
            <figcaption>About Me</figcaption>
        </figure>
        <figure (click)="openFile('resume'); changeCurrentFile('resume')">
            <img [src]="changeDisplay('resume')" alt="Resume File" class="files">
            <figcaption>Resume</figcaption>
        </figure>
        <figure (click)="openFile('projects'); changeCurrentFile('projects')">
            <img [src]="changeDisplay('projects')" alt="Projects File" class="files">
            <figcaption>Projects</figcaption>
        </figure>
        <figure (click)="openFile('hobbies'); changeCurrentFile('hobbies')">
            <img [src]="changeDisplay('hobbies')" alt="Hobbies File" class="files">
            <figcaption>Hobbies</figcaption>
        </figure>
        <figure (click)="openFile('contacts'); changeCurrentFile('contacts')">
            <img [src]="changeDisplay('contacts')" alt="Contacts File" class="files">
            <figcaption>Contacts</figcaption>
        </figure>
    </div>

    <div id="switch">
        <input type="checkbox" id="check" class="toggle" (change)="toggle($event)">
    </div>

    <div @openCloseFile cdkDrag [ngClass]="{'file':true, 'full-screen': maximizeAbtMe}" id="about-me-file" *ngIf="isAboutMeOpen$ | async" (mousedown)="changeCurrentFile('aboutMe')" [ngStyle]="{'z-index': (currentStack$ | async)?.indexOf('aboutMe') ?? 1}">
        <div cdkDragHandle class="top-bar" [ngClass]="{'dark-bar': isDarkMode$ | async}">
            <p class="title">About Me</p>
            <button class="minimize-file" (click)="minimizeTab('aboutMe')"><svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-minus"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /></svg></button>
            <button class="resize-file" (click)="resizeFile('aboutMe')">
                <ng-container *ngIf="!maximizeAbtMe">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="20" height="20" viewBox="0 0 24 24" fill="none">
                      <rect x="5" y="5" width="14" height="14" rx="1.5" fill="black" />
                      <rect x="7" y="7" width="10" height="2" rx="1" fill="rgb(176, 230, 253)" />
                    </svg>
                  </ng-container>
                  <ng-container *ngIf="maximizeAbtMe">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="20" height="20" viewBox="0 0 24 24" fill="none">
                      <rect x="8" y="4" width="12" height="12" rx="1.5" fill="rgb(176, 230, 253)" stroke="black" stroke-width="2" />
                      <rect x="5" y="7" width="12" height="12" rx="1.5" fill="black" />
                      <rect x="7" y="9" width="8" height="2" rx="1" fill="rgb(176, 230, 253)" />
                    </svg>
                  </ng-container>
            </button>
            <button class="close-file" (click)="closeFile('aboutMe')"><svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg></button>
        </div>
        <div id="about-me-container">
            <app-about-me-window></app-about-me-window>
        </div>
    </div>

    <div @openCloseFile cdkDrag [ngClass]="{'file':true, 'full-screen': maximizeProjects}" id="projects-file" *ngIf="isProjectsOpen$ | async" (mousedown)="changeCurrentFile('projects')" [ngStyle]="{'z-index': (currentStack$ | async)?.indexOf('projects') ?? 1}">
        <div cdkDragHandle class="top-bar" [ngClass]="{'dark-bar': isDarkMode$ | async}">
            <p class="title">Projects</p>
            <button class="minimize-file" (click)="minimizeTab('projects')"><svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-minus"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /></svg></button>
            <button class="resize-file" (click)="resizeFile('projects')">
                <ng-container *ngIf="!maximizeProjects">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="20" height="20" viewBox="0 0 24 24" fill="none">
                      <rect x="5" y="5" width="14" height="14" rx="1.5" fill="black" />
                      <rect x="7" y="7" width="10" height="2" rx="1" fill="rgb(176, 230, 253)" />
                    </svg>
                  </ng-container>
                  <ng-container *ngIf="maximizeProjects">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="20" height="20" viewBox="0 0 24 24" fill="none">
                      <rect x="8" y="4" width="12" height="12" rx="1.5" fill="rgb(176, 230, 253)" stroke="black" stroke-width="2" />
                      <rect x="5" y="7" width="12" height="12" rx="1.5" fill="black" />
                      <rect x="7" y="9" width="8" height="2" rx="1" fill="rgb(176, 230, 253)" />
                    </svg>
                  </ng-container>
            </button>
            <button class="close-file" (click)="closeFile('projects')"><svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg></button>
        </div>
        <div id="projects-container">
            <app-projects-window></app-projects-window>
        </div>
    </div>

    <div @openCloseFile cdkDrag [ngClass]="{'file':true, 'full-screen': maximizeContacts}" id="contacts-file" *ngIf="isContactsOpen$ | async" (mousedown)="changeCurrentFile('contacts')" [ngStyle]="{'z-index': (currentStack$ | async)?.indexOf('contacts') ?? 1}">
        <div cdkDragHandle class="top-bar" [ngClass]="{'dark-bar': isDarkMode$ | async}">
            <p class="title">Contacts</p>
            <button class="minimize-file" (click)="minimizeTab('contacts')"><svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-minus"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /></svg></button>
            <button class="resize-file" (click)="resizeFile('contacts')">
                <ng-container *ngIf="!maximizeContacts">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="20" height="20" viewBox="0 0 24 24" fill="none">
                      <rect x="5" y="5" width="14" height="14" rx="1.5" fill="black" />
                      <rect x="7" y="7" width="10" height="2" rx="1" fill="rgb(176, 230, 253)" />
                    </svg>
                  </ng-container>
                  <ng-container *ngIf="maximizeContacts">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="20" height="20" viewBox="0 0 24 24" fill="none">
                      <rect x="8" y="4" width="12" height="12" rx="1.5" fill="rgb(176, 230, 253)" stroke="black" stroke-width="2" />
                      <rect x="5" y="7" width="12" height="12" rx="1.5" fill="black" />
                      <rect x="7" y="9" width="8" height="2" rx="1" fill="rgb(176, 230, 253)" />
                    </svg>
                  </ng-container>
            </button>
            <button class="close-file" (click)="closeFile('contacts')"><svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg></button>
        </div>
        <div id="contacts-container">
            <app-contacts-window></app-contacts-window>
        </div>
    </div>

    <div @openCloseFile cdkDrag [ngClass]="{'file':true, 'full-screen': maximizeResume}" id="resume-file" *ngIf="isResumeOpen$ | async" (mousedown)="changeCurrentFile('resume')" [ngStyle]="{'z-index': (currentStack$ | async)?.indexOf('resume') ?? 1}">
        <div cdkDragHandle class="top-bar" [ngClass]="{'dark-bar': isDarkMode$ | async}">
            <p class="title">Resume</p>
            <button class="minimize-file" (click)="minimizeTab('resume')"><svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-minus"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /></svg></button>
            <button class="resize-file" (click)="resizeFile('resume')">
                <ng-container *ngIf="!maximizeResume">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="20" height="20" viewBox="0 0 24 24" fill="none">
                      <rect x="5" y="5" width="14" height="14" rx="1.5" fill="black" />
                      <rect x="7" y="7" width="10" height="2" rx="1" fill="rgb(176, 230, 253)" />
                    </svg>
                  </ng-container>
                  <ng-container *ngIf="maximizeResume">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="20" height="20" viewBox="0 0 24 24" fill="none">
                      <rect x="8" y="4" width="12" height="12" rx="1.5" fill="rgb(176, 230, 253)" stroke="black" stroke-width="2" />
                      <rect x="5" y="7" width="12" height="12" rx="1.5" fill="black" />
                      <rect x="7" y="9" width="8" height="2" rx="1" fill="rgb(176, 230, 253)" />
                    </svg>
                  </ng-container>
            </button>
            <button class="close-file" (click)="closeFile('resume')"><svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg></button>
        </div>
        <div id="resume-container">
            <app-resume-window></app-resume-window>
        </div>
    </div>

    <div @openCloseFile cdkDrag [ngClass]="{'file':true, 'full-screen': maximizeHobbies}" id="hobbies-file" *ngIf="isHobbiesOpen$ | async" (mousedown)="changeCurrentFile('hobbies')" [ngStyle]="{'z-index': (currentStack$ | async)?.indexOf('hobbies') ?? 1}">
        <div cdkDragHandle class="top-bar" [ngClass]="{'dark-bar': isDarkMode$ | async}">
            <p class="title">Hobbies</p>
            <button class="minimize-file" (click)="minimizeTab('hobbies')"><svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-minus"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /></svg></button>
            <button class="resize-file" (click)="resizeFile('hobbies')">
                <ng-container *ngIf="!maximizeHobbies">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="20" height="20" viewBox="0 0 24 24" fill="none">
                      <rect x="5" y="5" width="14" height="14" rx="1.5" fill="black" />
                      <rect x="7" y="7" width="10" height="2" rx="1" fill="rgb(176, 230, 253)" />
                    </svg>
                  </ng-container>
                  <ng-container *ngIf="maximizeHobbies">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="20" height="20" viewBox="0 0 24 24" fill="none">
                      <rect x="8" y="4" width="12" height="12" rx="1.5" fill="rgb(176, 230, 253)" stroke="black" stroke-width="2" />
                      <rect x="5" y="7" width="12" height="12" rx="1.5" fill="black" />
                      <rect x="7" y="9" width="8" height="2" rx="1" fill="rgb(176, 230, 253)" />
                    </svg>
                  </ng-container>
            </button>
            <button class="close-file" (click)="closeFile('hobbies')"><svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg></button>
        </div>
        <div id="hobbies-container">
            <app-hobbies-window></app-hobbies-window>
        </div>
    </div>
</div> 
