.container{
    background-image: url(/background.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    background-color: rgb(213, 210, 204);
    
    width:100%;
    display: flex;
    height:100%;

    align-items: center;
    justify-content: center;
    position:relative;
    user-select: none;
}
.files{
    margin:0px;
    padding:0px;
    width: 100px;
    height: 80px;
    object-fit: cover;
    object-position: center;
}
figure{
    text-align: center;
    margin: 10px;
}
figcaption {
    cursor: default;
    color:white;
    text-shadow: 0px 7px 5px black; 
    font-family: 'MedievalSharp', cursive;
}
figure:hover{
    background-color: rgba(29, 103, 194, 0.403);
}

.file{
    width: 50%;    
    height: 75%;

    min-height:400px;
    min-width:600px;

    box-shadow: 0px 1px 5px black;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.top-bar{
    width: 100%;
    height:35px;
    background-color: rgb(243, 178, 178);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position:relative;

}

#about-me-container{
    height:calc(100% - 35px);
    width: 100%;
}

.close-file{
    background-color: transparent;
    height: 35px;
    width: 35px;
    border:none;
}

.close-file:hover{
    background-color: red;
}


.title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'MedievalSharp', cursive;
    font-weight: bold;
    cursor:default;
}



