.container{
    background-image: url(/background.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    background-color: rgb(213, 210, 204);
    
    width:100%;
    display: flex;
    height:100%;

    align-items: center;
    justify-content: center;
    position:relative;
    user-select: none;
}
.files{
    margin:0px;
    padding:0px;
    width: 100px;
    height: 80px;
    object-fit: cover;
    object-position: center;
}
figure{
    text-align: center;
    margin: 10px;
}
figcaption {
    cursor: default;
    color:white;
    text-shadow: 0px 7px 5px black; 
    font-family: 'MedievalSharp', cursive;
}
figure:hover{
    background-color: rgba(29, 103, 194, 0.403);
}

.file{
    width: 50%;    
    height: 75%;

    min-height:400px;
    min-width:600px;

    box-shadow: 0px 1px 5px black;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.top-bar{
    width: 100%;
    height:35px;
    background-color: rgb(243, 178, 178);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position:relative;

}
.close-file{
    background-color: transparent;
    height: 35px;
    width: 35px;
    border:none;
}

.close-file:hover{
    background-color: red;
}

.content{
    width: 100%;
    height:100%;
    background-color: #EAE0D5;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'MedievalSharp', cursive;
    font-weight: bold;
    cursor:default;
}

#banner{
    background-color: #1A1F16;
    height:300px;
    width:100%;
    display:flex;
    flex-direction: row;
}
.banner-components{
    height:100%;
    width:50%;
}
#image-container{
    display: flex;
    justify-content: center; 
    align-items: center;
}
#my-photo{
    max-width: 80%; 
    max-height: 80%;
    border-radius: 10px;
    margin-right:-50px;
}

#text-container{
    color: #E0F0F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

#name{
    max-width:60%;
    font-weight:900;
    font-size: min(3vw, 50px);
    font-size: max(3vw, 35px);
    
    margin:0;
    font-family: 'Black Han Sans', sans-serif;
}

#description{
    max-width:70%;
    margin-top:-30px;
    margin-left:50px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

#detailed-description{
    width: 500px;
    align-self: center;
}
#about-me-title{
    font-family:'Black Han Sans';
    font-weight:500;
    font-size: 30px;
    margin-top:40px;
}

.story{
    text-indent:20px;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.5;
}

#experience-container{
    background-color: #E8E6E6;
    width:80%;
    align-self: center;
    margin-top:40px;
    margin-bottom:60px;
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: column;
}

#list{
    width:90%;
    margin-top:30px;
    margin-bottom:30px;
    /* background-color: white; */
    display:flex;
    flex-direction: column;
}

.resume{
    font-family:'Black Han Sans';
    font-weight:500;
    font-size: 30px;
}

.experience-images{
    height:100px;
    width:100px;
    border: 2px solid black;
    background-color: white;
    border-radius: 100%;
}

.resume-container{
    margin-left: 50px;
    display: flex;
    flex: row;
}

#pa-container{
    margin-bottom: 50px;
}
ul{
    padding-left:25px;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.3;
    padding-right:25px;
}
.experience-title{
    list-style-type: none;
}
.experience-details{
    margin-left:30px;
}
li{
    padding-bottom:10px;
}
strong{
    font-weight:900;
}
