<div class="container" #container>
    <div id="content">
        <ng-container *ngIf="(checkedUser$ | async) && (checkedPlaylists$ | async)">
            <div id="login-container" *ngIf="!(user$ | async)">
                <app-spotify-login id="login"></app-spotify-login>
            </div>
            <ng-container *ngIf="user$ | async as user">
                <ng-container *ngIf="playlists$ | async as playlists">
                    <div id="main-container">
                        <app-spotify-main id="main" [user]="user" [userPlaylists]="playlists"></app-spotify-main>
                    </div>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
</div>
