.content{
    width: 100%;
    height:100%;
    background-color: #EAE0D5;
    overflow: auto;
    display: flex;
    flex-direction: column;
    position:relative;
}

#pdf{
    height:100%;
    width:100%;
}

#transparent{
    position: absolute;
    top: 0;
    left: 0;
    /* width: calc(100% - 15px); */
    width:100%;
    height: 100%;
    z-index: 2;
}
/* #transparent2{
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 56px;
    z-index: 2;
} */