<div class="content" id="projects-content">
    <div id="nav-bar">
        <button class="project-button" id="first" (click)="this.fileService.changeCurrentFile('projectOne')">01 Pet Adoption Mobile Application</button>
        <button class="project-button" id="second" (click)="this.fileService.changeCurrentFile('projectTwo')">02 PHReddit</button>
        <button class="project-button" id="third" (click)="this.fileService.changeCurrentFile('projectThree')">03 Personal Blog</button>
        <button class="project-button" id="fourth" (click)="this.fileService.changeCurrentFile('projectFour')">04 Role-Playing Game</button>
    </div>
    <div id="content-container">
        <div id="project-one" *ngIf="(fileService.currentFile$ | async) === 'projectOne'">
            <div class="video-container">
                <video class="video" controls>
                    <source src="/animalReconnectVideo.mp4" type="video/mp4">
                </video>
            </div>
            <div class="description-container">
                <p class="name">Pet Adoption Mobile Application | <span><a href="https://github.com/RapRegidor/animalreconnect" target="_blank">Animal Reconnect Code</a></span></p>
                <p class="description">A mobile application for direct pet adoption between users. Users can use this to either look for pets or give away their pets. What makes this application different is that it incorporates the swiping mechanism you see in dating apps in order to keep the users' attention. Then, once matched with each other, users can directly communicate with each other via chat.</p>
                <p class="used"><strong>Used:</strong> Flutter, Firebase</p>
            </div>
        </div>

        <div id="project-two" *ngIf="(fileService.currentFile$ | async) === 'projectTwo'">
            <div class="video-container">
                <video class="video" controls>
                    <source src="/phredditVideo.mp4" type="video/mp4">
                </video>
            </div>
            <div class="description-container">
                <p class="name">PHReddit | Code Privatized</p>
                <p class="description">Replica of Reddit including a functioning backend. It has a functional database, making it a persistent website. Users can register and login with their accounts or as a guest. With an account, users can make a post, reply, or make a community. As a guest, they can only read the posts.</p>
                <p class="used"><strong>Used:</strong> MongoDB, Express, React, Node.js</p>
            </div>
        </div>
        
        <div id="project-three" *ngIf="(fileService.currentFile$ | async) === 'projectThree'">
            <div class="video-container">
                <video class="video" controls>
                    <source src="/personalBlogVideo.mp4" type="video/mp4">
                </video>
            </div>
            <div class="description-container">
                <p class="name">Personal Blog | <span><a href="https://rapregidor.github.io/KKFC-Project---About-Me/" target="_blank">About Me</a></span></p>
                <p class="description">This project is the first time I dove into web development. It is my very first personal website showcasing my interests; It is a personal blog.</p>
                <p class="used"><strong>Used:</strong> HTML, CSS, JavaScript</p>
            </div>
        </div>

        <div id="project-four" *ngIf="(fileService.currentFile$ | async) === 'projectFour'">
            <div class="description-container">
                <p class="name">Role-Playing Game | <span><a href="https://github.com/RapRegidor/RPG-with-Java-Swing" target="_blank">RPG Code</a></span></p>
                <p class="description">This project was the one that motivated me to pursue Computer Science in college. Unfortunately, I have lost recordings and pictures that showcases this project. However, to descrive it, it is a 2D game that where an adventurer can interact with various NPCs, buying and selling equipments. User can also complete quests, level up, and encounter random monsters, fighting them in a turn based battle mechanics. </p>
                <p class="used"><strong>Used:</strong> Java, Java Swing</p>
            </div>
        </div>
    </div>
</div>
