<div class="content" [ngClass]="{'dark-background': isDarkMode$ | async}" id="projects-content">
    <div class="nav-bar" [ngClass]="{'dark-background': isDarkMode$ | async}">
        <button class="project-button" id="first" (click)="changeCurrentTab('projectOne')">01 Pet Adoption Mobile Application</button>
        <button class="project-button" id="second" (click)="changeCurrentTab('projectTwo')">02 PHReddit</button>
        <button class="project-button" id="third" (click)="changeCurrentTab('projectThree')">03 Personal Blog</button>
        <button class="project-button" id="fourth" (click)="changeCurrentTab('projectFour')">04 Role-Playing Game</button>
    </div>
    <div id="content-container">
        <div id="project-one" *ngIf="(currentProjectTab$ | async) === 'projectOne'" class="projects-tab">
            <div class="video-container fade-in">
                <video class="video" controls>
                    <source src="/animalReconnectVideo.mp4" type="video/mp4" >
                </video>
            </div>
            <div class="description-container fade-in">
                <p class="name">Pet Adoption Mobile Application | <span><a href="https://github.com/RapRegidor/animalreconnect" target="_blank">Animal Reconnect Code</a></span></p>
                <p class="description">I worked as a sole programmer in a cross-functional team, with a goal of making pet adoption more engaging. We developed a tinder-like mobile application for direct pet adoption; Users can use this to either look for pets or give away their pets. What makes this application different is that it incorporates the swiping mechanism you see in dating apps in order to keep the users' attention. Then, once matched with each other, users can directly communicate with each other via chat.</p>
                <p class="used"><strong>Used:</strong> Flutter, Firebase</p>
            </div>
        </div>

        <div id="project-two" *ngIf="(currentProjectTab$ | async) === 'projectTwo'" class="projects-tab"> 
            <div class="video-container fade-in">
                <video class="video" controls>
                    <source src="/phredditVideo.mp4" type="video/mp4">
                </video>
            </div>
            <div class="description-container fade-in">
                <p class="name">PHReddit | Code Privatized</p>
                <p class="description">This is the final project for one of my major classes. I worked with a partner to make a replica of Reddit including a functioning backend to persistently store data. Users can register and login with their accounts or as a guest. With an account, users can make a post, reply, or make a community. However, as a guest, they can only read the posts.</p>
                <p class="used"><strong>Used:</strong> MongoDB, Express, React, Node.js</p>
            </div>
        </div>
        
        <div id="project-three" *ngIf="(currentProjectTab$ | async) === 'projectThree'" class="projects-tab">
            <div class="video-container fade-in">
                <video class="video" controls>
                    <source src="/personalBlogVideo.mp4" type="video/mp4">
                </video>
            </div>
            <div class="description-container fade-in">
                <p class="name">Personal Blog | <span><a href="https://rapregidor.github.io/KKFC-Project---About-Me/" target="_blank">About Me</a></span></p>
                <p class="description">This project is the first time I dove into web development. It was a final project for the Karim Kharbouch Coding Fellowship. We were given free reign of what we can include as long as it reflected who we are, where we have travelled, and what we enjoy. I was able to experiment with frontend capabilities, exploring more HTML, CSS, and JS features on my own, driven by curiosity. </p>
                <p class="used"><strong>Used:</strong> HTML, CSS, JavaScript</p>
            </div>
        </div>

        <div id="project-four" *ngIf="(currentProjectTab$ | async) === 'projectFour'" class="projects-tab">
            <div class="description-container fade-in">
                <p class="name">Role-Playing Game | <span><a href="https://github.com/RapRegidor/RPG-with-Java-Swing" target="_blank">RPG Code</a></span></p>
                <p class="description">This project was the one that motivated me to pursue Computer Science in college. While I no longer have recordings and screenshots of it, I still remember how proud I was of what I created. To describe what I have made, it is a 2D adventure RPG where the player can interact with various NPCs to buy and sell equipment, complete quests, level up, and encounter random monsters in turn-based combat. Building it taught me how to think critically about implementing key mechanics such as inventory systems, battle logic, managing player and monster stats, etc.</p>
                <p class="used"><strong>Used:</strong> Java, Java Swing</p>
            </div>
        </div>
    </div>
</div>
